debug/*
release/*
Bin
Bin/*
obj/*
*.csuser
*.suo
*.ReSharper
_ReSharper.*
_ReSharper.*/*
*.DotSettings
*.user
*.tmp
*.db
*.orig
*.bak
*.zip
*.rar
.hg/*
bin
bin/*
obj
TestResults/*
Logs
Logs/*
ErrorLogs
ErrorLogs/*
*.pidb
*.userprefs
*.vshost.exe
Working
Working/*
ServerX.ExtensionRunner/app.config