debug/*
release/*
Bin
Bin/*
obj/*
*.csuser
*.suo
*.ReSharper
*.DotSettings
*.user
*.tmp
*.db
*.orig
*.bak
*.zip
*.rar
.hg/*
bin
bin/*
obj
TestResults/*
Logs
Logs/*
ErrorLogs
ErrorLogs/*
packages
packages/*
*.pidb
*.userprefs
*.vshost.exe