<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
	</configSections>

	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
		<variable name="logDirectory" value="${gdc:Item=ExeBaseDir}\Logs\${shortdate}"/>
		<targets>
			<target name="ExtensionLogFile" xsi:type="File" createDirs="true" fileName="${logDirectory}\${gdc:Item=SubDirName}.log" layout="${longdate}|${level:uppercase=true}|${logger}|${threadid}|${threadname}|${message} ${exception:format=tostring}" />
			<target name="IndividualLogFile" xsi:type="File" createDirs="true" fileName="${logDirectory}\${logger}.log" layout="${longdate}|${level:uppercase=true}|${threadid}|${threadname}|${message} ${exception:format=tostring}" />
			<target name="ExtensionRunnerConsole" xsi:type="ColoredConsole" layout="[${logger:shortName=true}] ${message} ${exception:format=Message}" />
			<target name="ServiceManager" xsi:type="ServiceManager" layout="${message} ${exception:format=Message}"/>
		</targets>
		<rules>
			<logger name="*" minlevel="Trace" writeTo="ExtensionLogFile" />
			<logger name="*" minlevel="Trace" writeTo="IndividualLogFile" />
			<logger name="*" minlevel="Trace" writeTo="ExtensionRunnerConsole">
				<filters>
					<when condition="not equals('${gdc:Item=ParentProcess}','')" action="Ignore" />
				</filters>
			</logger>
			<logger name="*" minlevel="Debug" writeTo="ServiceManager" />
		</rules>
	</nlog>

	<system.serviceModel>
		<client>
			<endpoint name="ServiceManagerClient" address="net.tcp://localhost:13401/ServiceManager" binding="netTcpBinding" contract="ServerX.Common.IServiceManager" bindingConfiguration="Default"/>
		</client>
		<bindings>
			<netTcpBinding>
				<binding name="Default" maxReceivedMessageSize="10000000">
					<security mode="None">
						<message clientCredentialType="None" />
						<transport clientCredentialType="None" />
					</security>
					<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
				</binding>
			</netTcpBinding>
		</bindings>
	</system.serviceModel>
	<system.net>
		<settings>
			<servicePointManager useNagleAlgorithm="false" />
		</settings>
		<defaultProxy enabled="false">
			<proxy />
			<bypasslist />
			<module />
		</defaultProxy>
		<connectionManagement>
			<add address="*" maxconnection="1000" />
		</connectionManagement>
	</system.net>
</configuration>