<?xml version="1.0"?>
<configuration>
	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="Default" maxReceivedMessageSize="10000000">
					<security mode="None">
						<message clientCredentialType="None" />
						<transport clientCredentialType="None" />
					</security>
					<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
				</binding>
			</netTcpBinding>
		</bindings>
	</system.serviceModel>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
