<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
	</configSections>

	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
		<variable name="logDirectory" value="${basedir}\Logs\${shortdate}"/>
		<targets>
			<target name="ClientLogFile" xsi:type="File" createDirs="true" fileName="${logDirectory}\console.log" layout="${longdate}|${level:uppercase=true}|${logger}|${threadid}|${threadname}|${message} ${exception:format=tostring}" />
			<target name="ClientLogTraceFile" xsi:type="File" createDirs="true" fileName="${logDirectory}\console.trace.log" layout="${longdate}|${level:uppercase=true}|${logger}|${threadid}|${threadname}|${message} ${exception:format=tostring}" />
			<target name="ClientConsole" xsi:type="Console" layout="[${logger:shortName=true}] ${message} ${exception:format=Message}" />
		</targets>
		<rules>
			<logger name="*" minlevel="Debug" writeTo="ClientLogFile" />
			<logger name="*" minlevel="Trace" writeTo="ClientLogTraceFile" />
			<logger name="*" minlevel="Debug" writeTo="ClientConsole" />
		</rules>
	</nlog>

	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="Default" maxReceivedMessageSize="10000000">
					<security mode="None">
						<message clientCredentialType="None" />
						<transport clientCredentialType="None" />
					</security>
					<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
				</binding>
			</netTcpBinding>
		</bindings>
	</system.serviceModel>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
